@page{
    size: auto;
    margin-top:20px;
    margin-bottom:20px;
}

.navbar, footer, .privacyPoliceInfo {
    display: none !important;
}

.row{
    display: -webkit-box;
    display: -webkit-flex;
    display:flex !important;
}

.row > div{
    -webkit-box-flex:1;
    -webkit-flex: 1;
    flex: 1;
}






tr, td, th, thead, thead tr, thead tr th, tfoot{
    page-break-inside: avoid !important;
    page-break-before: avoid !important;
    page-break-after: auto !important;
}

thead, table{
    margin-top: 2rem;
}




.invoice-font {
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
    color: black !important;
}

.header-font {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo {
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.top-line {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-left:30px;
}

.top-small-caption {
    font-size: 10px;
    margin-bottom: 20px;
}

th {
    font-weight: normal;
}
